<div class="login">
    <div class="login-head">
        <h2 class="login-head__title">Login</h2>
        <div class="login-head__error"></div>
    </div>
    <form action="" class="form login-form">
        <div class="form-group">
            <label for="input-email" class="form-label">
                <span class="form-label__text">Email:</span>
                <span class="form-label__required">*required</span>
            </label>
            <input id="input-email" type="text" class="form__input form__input--text" placeholder="Enter e-mail">
        </div>
        <div class="form-group">
            <label for="input-email" class="form-label">
                <span class="form-label__text">Email:</span>
                <span class="form-label__required">*required</span>
            </label>
            <input id="input-password" type="password" class="form__input form__input--password" placeholder="Enter password">
        </div>
        <div class="form-action login__action">
            <a href="" class="form-action__forgot">Forgot password?</a>
            <button (click)="onLogin($event)" class="btn btn--big" [ngClass]="{'btn--disabled': !isValid}">Login</button>
        </div>
    </form>
</div>
