<div class="courses">
    <div class="container">
        <app-search></app-search>
        <div class="courses__add-new">
            <button class="btn btn--big icon-item"><span class="material-icons">add_circle_outline</span> Add course</button>
        </div>
        <div class="courses__list" *ngIf="courses.length; else coursesEmpty">
            <app-course-item 
                *ngFor="let course of courses"
                (deleteCourse)="onDelete($event)"
                [course]="course"></app-course-item>
                <div class="courses__more" *ngIf="hasMore">
                    <button (click)="loadMore()" class="btn btn--link">Load more</button>
                </div>
        </div>
        <ng-template #coursesEmpty>
            <div class="courses__empty">The courses array is empty.</div>
        </ng-template>
    </div>
</div>
