// Height
$heightHeader: 60px;
$heightFooter: 60px;
$breadcrumbsHeader: 64px;

// Background color
$bgBlack: #303240;
$bgGray: #f5f6fa;
$bgWhite: #ffffff;
$bgGreen:  #67A300;
$bgBlue:  #009ECC;;

// Text color
$clrBlack: #474A59;
$clrBlack2: #333333;
$clrWhite: #ffffff;
$clrGray: #858997;

// Container width
$desktopWidth: 1140px;

// Media width
$extraLarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

// Paddings
$p-x-30: 30px;
$p-x-20: 20px;
$p-x-10: 10px;