html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
}
button {
    outline: none;
    cursor: pointer;
    border: 0;
}

.h-100p {
    height: 100%;
}

.material-icons {
    font-size: 18px;
}

.icon-item {
    display: flex;
    align-items: center;

    .material-icons {
        margin-right: 8px;
    }
}

.mw-150 {
    max-width: 150px;
}

.mw-320 {
    max-width: 320px;
}

.ml-5{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}