<form action="" class="form course-form">
    <div class="form-group">
        <label for="input-title" class="form-label">
            <span class="form-label__text">Title:</span>
            <span class="form-label__required">*required</span>
        </label>
        <input
            [(ngModel)]="title"
            name="title"
            id="input-title"
            type="text"
            class="form__input form__input--text"
            placeholder="Text input">
    </div>
    <div class="form-group">
        <label for="textarea-description" class="form-label">
            <span class="form-label__text">Description:</span>
            <span class="form-label__required">*required</span>
        </label>
        <textarea
            [(ngModel)]="description"
            name="description"
            id="textarea-description"
            class="form__input form__input--textarea"
            placeholder="Add description"></textarea>
    </div>
    <div class="form-group mw-150">
        <label for="input-duration" class="form-label">
            <span class="form-label__text">Duration:</span>
            <span class="form-label__required">*required</span>
        </label>
        <input
            [(ngModel)]="duration"
            name="duration"
            id="input-duration"
            type="text"
            class="form__input form__input--text"
            placeholder="minutes">
    </div>
    <div class="form-group mw-150">
        <label for="input-date" class="form-label">
            <span class="form-label__text">Date:</span>
            <span class="form-label__required">*required</span>
        </label>
        <input
            [(ngModel)]="dateCreation"
            name="dateCreation"
            id="input-date"
            type="text"
            class="form__input form__input--text"
            placeholder="MM/DD/YYYY">
    </div>
    <div class="form-group mw-320">
        <label for="input-authors" class="form-label">
            <span class="form-label__text">Authors:</span>
            <span class="form-label__required">*required</span>
        </label>
        <input id="input-authors" type="text" class="form__input form__input--text" placeholder="Start typing">
    </div>
    <div class="form-action course__action">
        <button (click)="onCancel($event)" class="btn btn--big btn--gray">Cancel</button>
        <button (click)="onSave($event)" class="btn btn--big ml-10">Save</button>
    </div>
</form>
